@import "tailwindcss";

:root {
  --background: oklch(97.315% 0.00011 271.152);
  --foreground: oklch(14.958% 0.00002 271.152);
  --primary: oklch(53.722% 0.21662 27.868);
  --primary-foreground: oklch(99.115% 0.00423 15.765);
  --secondary: oklch(96.7% 0.001 286.375);
  --secondary-foreground: oklch(14.1% 0.005 285.823);
}

.dark {
  --background: oklch(21.779% 0.00002 271.152);
  --foreground: oklch(97.913% 0.00011 271.152);
  --primary: oklch(58.139% 0.23486 27.975);
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
}

@layer base {
  html,
  body,
  #root {
    @apply scroll-smooth bg-background text-foreground;
  }

  .contain {
    @apply px-2 md:px-3;
  }
}

@layer components {
  .btn-icon {
    @apply size-8 inline-flex justify-center items-center font-semibold [&_svg]:size-5 transition-colors duration-300;
  }

  .btn-icon--outline {
    @apply border rounded-md bg-secondary hover:bg-secondary-foreground/5;
  }
}
