@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--primary: oklch(57.7% 0.245 27.325);
	--accent: oklch(92.9% 0.013 255.508);
	--accent-foreground: oklch(70.4% 0.04 256.788);
	--border: oklch(70.8% 0 none);
}

.dark {
	--primary: oklch(63.7% 0.237 25.331);
}

@theme inline {
	--color-primary: var(--primary);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-border: var(--border);
}

html,
body,
#root {
	@apply scroll-smooth;
}

.container {
	padding: 0 16px;
	width: 100dvw;
}

@layer utilities {
	.smooth {
		@apply transition-all duration-300;
	}
}

@layer components {
	.input {
		@apply px-2 py-1 text-sm border border-border outline-0 rounded-md focus:ring-2 focus:border-primary focus:text-primary placeholder:text-accent-foreground;
	}

	.search {
		@apply relative flex items-center;
	}
}
